In [22]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# Beginning. Data Analytics for Auditing using pandas.

63

In [16]:
df = pd.read_csv("E:/Repo GitHub/Data Analysis/banco.csv")

In [19]:
df.head()

,ID,prestamo,edad,experiencia,ingreso,ZIP_cod,familia,gasto_tarjeta,educacion,hipoteca,valores,certificado,Online,CreditCard
0,1,0,25,1,49,91107,4,1.6,1,0,1,0,0,0
1,2,0,45,19,34,90089,3,1.5,1,0,1,0,0,0
2,3,0,39,15,11,94720,1,1.0,1,0,0,0,0,0
3,4,0,35,9,100,94112,1,2.7,2,0,0,0,0,0
4,5,0,35,8,45,91330,4,1.0,2,0,0,0,0,1

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5000 non-null   int64
 1   prestamo       5000 non-null   int64
 2   edad           5000 non-null   int64
 3   experiencia    5000 non-null   int64
 4   ingreso        5000 non-null   int64
 5   ZIP_cod        5000 non-null   int64
 6   familia        5000 non-null   int64
 7   gasto_tarjeta  5000 non-null   float64
 8   educacion      5000 non-null   int64
 9   hipoteca       5000 non-null   int64
 10  valores        5000 non-null   int64
 11  certificado    5000 non-null   int64
 12  Online         5000 non-null   int64
 13  CreditCard     5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB